@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Cabin|Playfair+Display|Raleway");

/*
font-family: 'Playfair Display', serif;
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/


/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*GLOBAL STYLING */

body {
    letter-spacing: .1em;
    line-height: 40em;
}

.outline {
	border: solid 6px #f4f4f4;
}

p {
    font-family: 'Raleway';
    // font-size: 40em;
}
#banner h3 {
    font-family: Playfair Display;
}
.project-info {
    text-align: left;
}
.project-info p {
    font-family: 'Cabin', serif;
}
.aboutMe, .project-info {
    font-family: Raleway;
}
.skillset-header .title, .major .title {
    border-bottom: solid 2px #f4f4f4;
    width: inherit;
    padding-bottom: 15px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

/*BANNER SECTION*/

#banner {
    background-color: #00cdcf;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    display: block;
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1.32px;
    line-height: 1.5em;
    padding: 50px 22px 30px 22px;
    width: 100%;
}
#banner h1 {
    font-family: Raleway;
    font-size: 4em;
	text-shadow: 2px 2px 2px #444;
}

#banner h4 {
	font-size: 4em;
	text-shadow: 2px 2px 2px #444;
}

#banner i {
	text-shadow: 2px 2px 2px #444;
}

#banner ol {
    text-align: left;
    width: 30%;
    margin: 75px auto 100px;
	font-size: 1.25em;
	text-shadow: 2px 2px 2px #444;
}

#banner > ol li {
	margin-top: 1em;
	text-shadow: 2px 2px 2px #444;
}

/*ABOUT ME SECTION*/

.content-header {
    font-family: 'Raleway';
}
.aboutMe {
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}
.aboutMe> h2 {
    border-bottom: solid 2px #f4f4f4;
    width: 30%;
    display: flex;
    margin: 1.5em auto .5em;
    justify-content: center;
}
.aboutMe p {
    font-size: 1em;
    font-family: 'Cabin', serif;
    letter-spacing: 0.01em;
    line-height: 1.4em;
    padding: 0.8em;
    margin: 0 auto;
    text-align: left;
}

/*PROJECT SECTION*/

.title {
    font-family: 'Raleway';
    padding: 0;
    border-width: thin;
}
.project-title {
    display: flex;
    margin-bottom: 0;
    width: 20%;
    margin: 0 auto;
}
.projects {
    display: flex;
    flex-flow: column;
    align-items: space-around;
    text-align: center;
    font-family: Raleway;
}
.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
}
.project-info {
    width: 35%;
    margin-left: 6em;
}
.project-info> h2, .gigit-article, .eatup-article {
    border-top: solid 6px #f4f4f4;
    padding: 2em;
}
.major {
    text-align: center;
}
.major h2 {
    text-align: center;
    padding-top: 0.75em;
    margin-bottom: 5rem;
}
.project-info h2 {
    margin-bottom: 21px;
}
.iss-project {
    padding: 2em;
}
.eatupImg {
    width: 24em;
    height: 20em;
}
.issTrackerImg {
    height: 533px;
    width: 300px;
}
.gigitImg {
    width: 24em;
    height: 20em;
}
.project-image img {
    border: #00cdcf 2px solid;
}

/*SKILLS SECTION*/

.skillset-header {
    text-align: center;
    /*border-top: solid 6px #f4f4f4;*/
    text-align: center;
    margin: 0.75em;
    padding: 1.5em 0em;
}
.skillset {
    /*display: flex;*/
    justify-content: center;
    margin-bottom: 2em;
}
.skill-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%;
}
.skill {
    margin: 1em 1em;
    text-align: center;
}
.skill img {
    height: 5em;
    width: 5em;
}
.icon {
    color: #00cdcf;
}

/*CONTACT SECTION*/

.contact {
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: #444;
    text-align: center;
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 32px;
    padding: 22px 16px 22px;
    width: 100%;
}
.contact-link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3em;
    /*width: 80%;*/
    /*margin: 0 20%;*/
}
.contact-link {
    text-align: center;
    margin: 0 4em;
}

/* BEGIN FOOTER */

footer {
    background-color: #00cdcf;
    text-align: center;
    margin: 0 auto;
    border-top: solid 3px #00cdcf;
    border-width: 50%;
    color: #ffffff;
    padding-bottom: 1em;
}
footer h4 {
    font-size: 1.25em;
}

/* END FOOTER */


/* BEGIN MEDIA QUERIES */

@media only screen and (max-width: 980px) {
    .project-section {
        font-size: .75em;
    }
}

@media only screen and (min-width:)

/*@media only screen and (max-width: 1650px) {
  .article {
    width: 100%;
  }
}*/


/* END MEDIA QUERIES */
