@import "https://fonts.googleapis.com/css?family=Amiko Catamaran";

$link-font-size: 10px;
$content-padding: 5px;
$title-font-size: 24px;
$amiko: 'Amiko', sans-serif;
$catamaran: 'Catamaran', sans-serif;
$grey: #A9A9A9;

//MIXINS
@mixin content-padding($content-padding) {
    padding-left: $content-padding;
    padding-right: $content-padding;
}
@mixin title-font-size($title-font-size) {
    font-size: $title-font-size;
}
//OVERRIDES

* {
    box-sizing: border-box;
}
html {
    min-width: 320px;
}

.title > h1,
.title > h2 {
    @include title-font-size($title-font-size);
}

.school > h3 {
    font-size: 18px;
    font-style: italic;
}

.school > ul, p {
    font-size: 14px;
}

//END OVERRIDES

.container {
    max-width: 800px;
    padding: 20px 20px;

    .main-title {
        @include title-font-size($title-font-size);
        display: flex;
        justify-content: space-between;
        h1 {
            align-items: flex-start;
            margin: 0;
        }
        h2 {
            align-items: flex-end;
            margin: 0;
            span {
                @include title-font-size($title-font-size);
            }
        }
    }

    header {
        @include title-font-size($title-font-size);
        h1 {
            @include title-font-size($title-font-size);
            span {
                color: green;
            }
        }
        h2 {
            // float: right;
        }
    }

    .contact {
        float: right;
        a {
            font-size: $link-font-size;
        }
    }
    .about-me {
        color: $grey;
        margin: 1em 0;
        h2 {
            @include title-font-size($title-font-size);
        }
    }
    .skills {
        .skillset {
            display: flex;
            .row-title {
                font-size: 16px;
            }
            .skillset-keywords {
                font-size: 10px
            }
        }
    }
    .projects {
        h3 {
            font-size: 18px;
        }
    }
}

.job {
    .job-header {
        // display: flex;
        // flex-wrap: wrap;
        h3 {
            font-size: 18px;
            font-style: italic;
        }
        .duration {
            border-radius: 6px;
            font-size: 10px;
            background-color: #F5F5F5;
            color: #6F6F6F;
            padding: 4px 6px;
            // align-self: center;
            float: right;
        }
    }
    ul {
        li {
            font-size: 12px;
        }
    }

    .keywords {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        @include content-padding($content-padding);
    }
}
