@import 'normalize';
@import url("https://fonts.googleapis.com/css?family=Cabin|Playfair+Display|Raleway");
//VARIABLES
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;
$cabin: 'Cabin', serif;
$black: #000;
$text-color: #ffffff;
$light-grey: #f4f4f4;
$shadow-grey: #444;
$gradient-green: #0e6f83;
$project-top-border: solid 6px $light-grey;
$project-bottom-border: solid 2px $light-grey;
$img-border: $gradient-green 2px solid;
$img-shadow: 5px 5px 15px;
$banner-text-shadow: 2px 2px 2px $shadow-grey;
$test-border: solid 4px orange;
// MIXINS
@mixin background-size($bg-size) {
    background-size: $bg-size;
    -moz-background-size: $bg-size;
    -o-background-size: $bg-size;
    -webkit-background-size: $bg-size;
}
body:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    bottom: 0;
    background-image: url("../imgs/brooklyn-bridge-day.jpg");
    @include background-size(cover);
    background-position: 50%;
    z-index: -1;
}
/*body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../imgs/brooklyn-bridge-day.jpg');
  background-position: center;
  @include background-size(cover);
}*/
.super-wrapper, .main-wrapper,.contact, footer {
  border: $test-border;
}
.super-wrapper{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  color: $text-color;
  background-color: $black;
  opacity: 0.6;
    main {
      flex: 1;
      .main-wrapper {
        max-width: 720px;
        .about-me {
          display: flex;
        }
        .projects {
          h1{
            text-align: center;
          }
          .project {
            border: $test-border;
            display: flex;
            align-items: center;
            justify-content: space-around;
            img {
              width: 240px;
              height: 240px;
              display: flex;
              flex-direction: column wrap;
              align-content: center;
              justify-content: center;
            }
          }
        }
      }
    }

  .contact {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 572px;
    max-height: 572px;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
