@import 'normalize';
@import url("https://fonts.googleapis.com/css?family=Cabin|Playfair+Display|Raleway");
//VARIABLES
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;
$cabin: 'Cabin', serif;
$black: #000;
$text-color: #ffffff;
$light-grey: #f4f4f4;
$shadow-grey: #444;
$gradient-green: #0e6f83;
$project-top-outline: solid 6px $light-grey;
$project-bottom-outline: solid 2px $light-grey;
$img-outline: $gradient-green 2px solid;
$img-shadow: 5px 5px 15px;
$banner-text-shadow: 2px 2px 2px $shadow-grey;
$test-outline: solid 4px orange;
// MIXINS
@mixin background-size($bg-size) {
    background-size: $bg-size;
    -moz-background-size: $bg-size;
    -o-background-size: $bg-size;
    -webkit-background-size: $bg-size;
}

@mixin wrapper-margin ($wrapper-margin){
    margin-left: $wrapper-margin;
    margin-right: $wrapper-margin;
}


body:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    bottom: 0;
    background-image: url("../imgs/brooklyn-bridge-day.jpg");
    @include background-size(cover);
    background-position: 50%;
    z-index: -1;
}
.super-wrapper, .main-wrapper,.contact, footer {
  outline: $test-outline;
}
.super-wrapper{
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: wrap;
  color: $text-color;
  background-color: $black;
  opacity: 0.6;
    main {
      flex: 1;
      max-width: 240px;
      .main-wrapper {
        max-width: 240px;
        @include wrapper-margin(2em);
        .about-me {
          display: flex;
          flex-flow: column wrap;
          img {
              width: 240px;
              height: 240px;
            //   margin-left: auto;
            //   margin-right: auto;
          }
          .about-me-info {
              h1 {
                  text-align: center;
              }
          }
        }
        .projects {
          h1{
            text-align: center;
          }
          .project {
            outline: $test-outline;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: space-around;
            img {
              width: 240px;
              height: 240px;
              display: flex;
              flex-direction: column wrap;
              align-content: center;
              justify-content: center;
            }
            .project-info{
                header {
                    display: flex;
                    flex-flow: column wrap;
                    text-align: center;
                    p{
                        text-align: left;
                    }
                }
                .project-links{
                    text-align: center;
                }
            }
          }
        }
      }
    }

  .contact {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    max-height: 240px;
    @include wrapper-margin(2em);
  }
}

footer {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}
