@import 'normalize';
@import url("https://fonts.googleapis.com/css?family=Cabin|Playfair+Display|Raleway");
//VARIABLES
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;
$cabin: 'Cabin', serif;
$white: #ffffff;
$lightGrey: #f4f4f4;
$shadowGrey: #444;
$gradientGreen: #0e6f83;
$projectTopBorder: solid 6px $lightGrey;
$projectBottomBorder: solid 2px $lightGrey;
$imgBorder: $gradientGreen 2px solid;
$imgShadow: 5px 5px 15px;
$bannerTextShadow: 2px 2px 2px $shadowGrey;
$testBorder: solid 4px orange;
// MIXINS
@mixin banner-gradient($gradientColor1, $gradientColor2) {
    background: -webkit-linear-gradient($gradientColor1, $gradientColor2);
    background: -o-linear-gradient($gradientColor1, $gradientColor2);
    background: linear-gradient($gradientColor1, $gradientColor2);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.superWrapper, .mainWrapper,.contact, footer {
  border: $testBorder;
}
.superWrapper{
  max-width: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;

    main {
      flex: 1;
      .mainWrapper {
        max-width: 75vh;
        .aboutMe {
          display: flex;
        }
      }
    }

  .contact {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 60vh;
    max-height: 60vh;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  max-width: 75vh;
  margin-left: auto;
  margin-right: auto;
}
