
.icon-mail:before { content: '\e800'; } /* '' */
.icon-doc-text:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */