@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Cabin|Playfair+Display|Raleway");

/*
font-family: 'Playfair Display', serif;
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/


/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/*Background Color and text override*/
body {
	letter-spacing: .1em;
    line-height: 40em;
}

p {
	font-family: 'Raleway';
    // font-size: 40em;
}

#banner {
    background-color: #00cdcf;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    display: block;
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1.32px;
    line-height: 1.5em;
    padding: 44px 22px 14.6667px 22px;
    width: 100%;
}

#banner h1 {
    font-family: Raleway;
    font-size: 4em;
}

.aboutMe, .inner {
    font-family: Raleway;
}

.content-header {
    text-align: center;
	font-family: 'Raleway';
}

.title {
	font-family: 'Raleway';
	border-top: solid 6px #f4f4f4;
	padding: 0;
}

.project-title {
	margin-bottom: 0;
}

.aboutMe {
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}

.inner {
	text-align: left;
}

.aboutMe p {
    font-size: 1em;
	font-family: 'Cabin', serif;
    letter-spacing: 0.01em;
    line-height: 1.1em;
    padding: 0.8em;
    margin: 0 auto;
}

.features {
    display: flex;
    flex-flow: column;
    align-items: space-around;
    text-align: center;
    font-family: Raleway;
}

.inner p {
	font-family: 'Cabin', serif;
}

.inner > h2, .gigit-article, .eatup-article {
	column-count: 2;
	border-top: solid 6px #f4f4f4;
	padding: 2em;
}

.major {
	text-align: center;
}

.major h2 {
    text-align: center;
	padding-top: 0.75em;
}

.inner h2 {
	margin-bottom: 21px;
}

.iss-article {
	column-count: 2;
	padding: 2em;
}

.eatupImg {
    width: 24em;
    height: 20em;
}

.issTrackerImg {
    height: 533px;
    width: 300px;
}

.gigitImg {
	width: 24em;
	height: 20em;
}

.projectImage {
    position: relative;
    width: 24em;
    height: 20em;
    margin: 0 auto;
}

.projectImage:hover > a {
  display: block;
}

.projectImage img {
  width: 100%;
}

.projectImage img:hover {
    opacity: .5;
    transition: opacity 0.5s;
}

.projectImage a {
  display: none;
  position: absolute;
  border: solid black 1px;
  left: 50%;
  top: 50%;
  color: white;
  background-color: grey;
  padding: .5em;
  transform: translate(-50% -50%);
}

.nameInput, .emailInput {
    margin: 2% auto;
    width: 40%;
}

.messageInput textarea {
    margin: 2% auto;
    width: 40%;
    height: 10%
}

.skillset-header {
    text-align: center;
	border-top: solid 6px #f4f4f4;
}

.skillset {
	/*display: flex;*/
	justify-content: center;
    margin-bottom: 2em;
}

.skillset-header {
	text-align: center;
	margin: 0.75em;
}

.skill-list {
	display: flex;
	justify-content: center;
}

.skill {
	margin: 0 1em;
	text-align: center;
}

.skill img {
    height: 5em;
    width: 5em;
}


.icon {
  color: #00cdcf;
}

.inner p {
	text-align: left;
}

.contact {
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: #444;
    text-align: center;
    /*display: block;*/
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 32px;
    padding: 44px 22px 14.6667px 22px;
    width: 100%;
}

.contact-link-container {
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}

.contact-link {
	display: flex;
	text-align: center;
	margin: 0 4em;
}


/* BEGIN FOOTER */
footer {
  background-color: #00cdcf;
  text-align: center;
  margin: 0 auto;
  border-top: solid 3px #00cdcf;
  border-width: 50%;
  color: #ffffff;
  padding-bottom: 1em;
}

footer h4 {
  font-size: 1.25em;
}

/* END FOOTER */

/* BEGIN MEDIA QUERIES */
@media only screen and (max-width: 980px) {
  .project-section {
    font-size: .75em;
  }
}
@media only screen and (max-width: 1650px) {
  .project-images li {
    width: 100%;
  }
}
/* END MEDIA QUERIES */




/*//////////////////////////////////////////////////////////////*/
